{
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "arrowParens": "always",
  "tabWidth":2
}
